/* recipe.css */

body {
    font-family: Georgia, Garamond, sans-serif;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
}


#prep,
#ingredients,
#directions {
    border-bottom: 1px solid #000; /* Black line */
    margin-bottom: 10px;
}

